# import necessary libraries

In [37]:
import pandas as pd
import os

# merge the 12 montrhs sales data into single csv file

In [38]:
df=pd.read_csv(r"D:\data analysis projects\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\Sales_April_2019.csv")


# files = [file for file in os.listdir("D:\data analysis projects\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data")]

# all_months_data=pd.DataFrame()


# for file in files:
#     df=pd.read_csv("D:\data analysis projects\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data"+file)

In [39]:
files = [file for file in os.listdir(r"D:\data analysis projects\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data")]

In [40]:
all_months_data=pd.DataFrame()

In [43]:
for file in files:
    df=pd.read_csv(r"D:\data analysis projects\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\\"+file)
    all_months_data= pd.concat([all_months_data, df])
all_months_data.to_csv("all_data.csv", index=False)

# read in updated data frame

In [44]:
all_data=pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# clean up the data

# drop rows of NaN

In [ ]:
nan_df =

# augment data with additional columns

Task 2: add months columns

In [48]:
all_data['Month']= all_data['Order Date'].str[0:2]
all_data['Month']= all_data['Month'].astype('int32')
all_data.head()

ValueError: cannot convert float NaN to integer

# Question 1: what was the best month for sale? how much was earned that month?