In [1]:
import numpy as np

In [2]:
import pandas as pd

In [56]:
s1=pd.Series([1,2,3,4,5],index=["one","two","three","four","five"])

In [57]:
s1

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [5]:
s2=pd.Series([11,22.2,33,44])

In [6]:
s2

0    11.0
1    22.2
2    33.0
3    44.0
dtype: float64

In [9]:
s3=pd.Series(["leo",'leo2','leo3',10,20])

In [10]:
s3

0     leo
1    leo2
2    leo3
3      10
4      20
dtype: object

In [11]:
s3.dtypes

dtype('O')

In [12]:
s3.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
s3

0     leo
1    leo2
2    leo3
3      10
4      20
dtype: object

In [14]:
s2

0    11.0
1    22.2
2    33.0
3    44.0
dtype: float64

In [30]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
s1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [41]:
# s1=index=["one","two","three","four","five"]

In [47]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [48]:
s1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [49]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [50]:
s1+s2

0    12.0
1    24.2
2    36.0
3    48.0
4     NaN
dtype: float64

In [51]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [52]:
s2

0    11.0
1    22.2
2    33.0
3    44.0
dtype: float64

In [59]:
s1+s2

0       NaN
1       NaN
2       NaN
3       NaN
five    NaN
four    NaN
one     NaN
three   NaN
two     NaN
dtype: float64

In [60]:
s1

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [61]:
s1<3

one       True
two       True
three    False
four     False
five     False
dtype: bool

In [62]:
s1*2

one       2
two       4
three     6
four      8
five     10
dtype: int64

In [82]:
series=pd.Series([1,2,3,4,5,6],index=["one","two","three","four","five","six"],name="marks data")

In [83]:
series

one      1
two      2
three    3
four     4
five     5
six      6
Name: marks data, dtype: int64

# Indexing_Series

In [71]:
series[2]

3

In [72]:
series[3]

4

In [74]:
series[[3,4]] #thats called fancing indexing

four    4
five    5
Name: marks data, dtype: int64

In [86]:
series[5]=66

In [87]:
series

one       1
two       2
three     3
four      4
five      5
six      66
Name: marks data, dtype: int64

In [88]:
series>30

one      False
two      False
three    False
four     False
five     False
six       True
Name: marks data, dtype: bool

In [89]:
series

one       1
two       2
three     3
four      4
five      5
six      66
Name: marks data, dtype: int64

# slicing

In [90]:
series[2:4]

three    3
four     4
Name: marks data, dtype: int64

In [93]:
series[2:6:2]

three    3
five     5
Name: marks data, dtype: int64

In [97]:
series

one       1
two       2
three     3
four      4
five      5
six      66
Name: marks data, dtype: int64

In [98]:
type(series)

pandas.core.series.Series

In [99]:
series['four']

4

In [100]:
s4=pd.Series(range(10))

In [105]:
s5=pd.Series(range(10,21))

In [106]:
s4

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [107]:
s5

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [108]:
s4+s5

0     10.0
1     12.0
2     14.0
3     16.0
4     18.0
5     20.0
6     22.0
7     24.0
8     26.0
9     28.0
10     NaN
dtype: float64

In [130]:
fruites=pd.Series([2,3,4,5],index=['orange','bananas','guavas','strawbery'])

In [131]:
fruites

orange       2
bananas      3
guavas       4
strawbery    5
dtype: int64

In [113]:
fruites[0:3]

orange     2
bananas    3
guavas     4
dtype: int64

In [114]:
fruites['orange':'strawbery']

orange       2
bananas      3
guavas       4
strawbery    5
dtype: int64

# Lambda Function : Anpnymous Function(IIF)

In [116]:
fruites.apply(lambda x:x*2)

orange        4
bananas       6
guavas        8
strawbery    10
dtype: int64

In [117]:
fruites.apply(lambda x:x+2)

orange       4
bananas      5
guavas       6
strawbery    7
dtype: int64

In [118]:
fruites

orange       2
bananas      3
guavas       4
strawbery    5
dtype: int64

In [121]:
s2

0    11.0
1    22.2
2    33.0
3    44.0
dtype: float64

In [122]:
fruites=pd.Series(fruites,index=s2.index)

In [123]:
fruites

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [124]:
fruites

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [125]:
new_index = ['orange', 'apple', 'banana', 'guava', 'strawberry']

In [134]:
new_fruites = fruites.reindex(new_index)

In [135]:
new_fruites

orange        2.0
apple         NaN
banana        NaN
guava         NaN
strawberry    NaN
dtype: float64

In [136]:
fruites

orange       2
bananas      3
guavas       4
strawbery    5
dtype: int64

In [137]:
new_fruites

orange        2.0
apple         NaN
banana        NaN
guava         NaN
strawberry    NaN
dtype: float64

In [138]:
fruites

orange       2
bananas      3
guavas       4
strawbery    5
dtype: int64

In [139]:
fruites

orange       2
bananas      3
guavas       4
strawbery    5
dtype: int64

In [140]:
new_fruites

orange        2.0
apple         NaN
banana        NaN
guava         NaN
strawberry    NaN
dtype: float64

# indexing and reindexing of series

In [160]:
Class_Data1=pd.Series([6562,6529,6505],index=['FarHAAN','Daud','Minhal'])

In [161]:
Class_Data1

FarHAAN    6562
Daud       6529
Minhal     6505
dtype: int64

In [162]:
Class_Data2=pd.Series([6500,6535,6534],index=['Ali','Yashal','sami'])

In [168]:
Class_Data2

Ali       6500
Yashal    6535
sami      6534
dtype: int64

In [169]:
New_series=pd.Series(Class_Data1.values,index=Class_Data2.index)

In [170]:
New_series

Ali       6562
Yashal    6529
sami      6505
dtype: int64

In [174]:
Class_Data2=pd.Series(Class_Data2,index=Class_Data1.index)

In [175]:
Class_Data2

FarHAAN   NaN
Daud      NaN
Minhal    NaN
dtype: float64

In [176]:
New_index=['Ali','Yashal','sami']

In [177]:
NewClassData=Class_Data2.reindex(New_index)

In [180]:
NewClassData

Ali      NaN
Yashal   NaN
sami     NaN
dtype: float64