In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
obj=pd.Series([4,7,-5,3])

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
marks=pd.Series([33,35,36,40,43,13],index=['Natural language processing','Software design and architectute','Machine learning','Software configuration managment','Web development','Software matrices'],name='5fth semester marks')

In [10]:
marks

Natural language processing         33
Software design and architectute    35
Machine learning                    36
Software configuration managment    40
Web development                     43
Software matrices                   13
Name: 5fth semester marks, dtype: int64

In [11]:
marks['Natural language processing']

33

In [12]:
marks[[0,1,2]]

Natural language processing         33
Software design and architectute    35
Machine learning                    36
Name: 5fth semester marks, dtype: int64

In [13]:
marks>30

Natural language processing          True
Software design and architectute     True
Machine learning                     True
Software configuration managment     True
Web development                      True
Software matrices                   False
Name: 5fth semester marks, dtype: bool

In [15]:
marks/6

Natural language processing         5.500000
Software design and architectute    5.833333
Machine learning                    6.000000
Software configuration managment    6.666667
Web development                     7.166667
Software matrices                   2.166667
Name: 5fth semester marks, dtype: float64

In [19]:
'ali' in marks

False

In [20]:
'software' in marks

False

# pandas series from numpy

In [21]:
arr=np.arange(10)

In [22]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
series=pd.Series(arr)

In [24]:
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [25]:
x=np.zeros((4,4))

In [26]:
x

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [28]:
series1=pd.DataFrame(x)

In [30]:
series1

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [32]:
array=np.arange(35)

In [33]:
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34])

In [35]:
series3=pd.Series(array)

In [36]:
series3

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
dtype: int32